$body-bg: #090909; 
$body-color: silver;
$background-image-ratio: calc(960 / 1568); 
$link-color: cornflowerblue;
$title-font-url: '/fonts/Monoton-Regular.ttf';
$header-title-max-font-size: 4.1rem;
$header-subtitle-max-font-size: 1.3rem;
